DotNetBugs/StructsEqualsBug/bin/Debug/StructsEqualsBug.vshost.exe
DotNetBugs/StructsEqualsBug/bin/Debug/StructsEqualsBug.vshost.exe.manifest
DotNetBugs/StructsEqualsBug/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DotNetBugs/DotNetBugs.v11.suo
DotNetBugs/StructsEqualsBug/bin/*
DotNetBugs/StructsEqualsBug/obj/
/DotNetBugs/StructureEqualsMeasurements/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DotNetBugs/StructureEqualsMeasurements/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DotNetBugs/StructureEqualsMeasurements/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
